body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: darkslategrey;
}

img {
    display: block;
    max-width:150px;
    max-height:150px;
    width: auto;
    height: auto;
    opacity: 1;
}

#rockButton {
    padding-top: 34px;
}

img:hover {
    opacity: 0.5;
}

#buttons {
    border-color: antiquewhite;
    background-color: darkslategray;
    display: flex;
    justify-content: center;
}

button {
    border-color: antiquewhite;
    background-color:darkslategray;
}

#score {
    display: flex;
    justify-content: space-around;
    min-width: 500px;
    color: whitesmoke;
    min-height: 200px;
    align-items: center;
}

#result {
    background-color: darkslategrey;
    color: whitesmoke;
    min-width: 430.58px;
    min-height: 50px;
    display: flex;
    justify-content: center;
    font-size:x-large;
}

#roundVisualizer {
    min-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;

}