body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height:fit-content;
    flex-direction: column;
    padding-top: 100px;
}

img {
    display: block;
    max-width:150px;
    max-height:150px;
    width: auto;
    height: auto;
    opacity: 1;
}

img:hover {
    opacity: 0.5;
}

button {
    border-color: white;
    background-color:darkslateblue;
}